In [1]:
from satisfaction_module2 import *

In [2]:
model = flight_satisfaction_model('modell','scalerr')

In [3]:
pd.options.display.max_columns = None

In [4]:
model.load_and_clean_data('data_to_module.csv')

C:\Users\sokoo\CRM analiza\satisfaction_module2.py:93: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col, errors='ignore', downcast='integer')

In [5]:
model.predicted_outputs()

,Gender,Customer Type,Type of Travel,Business Class,Economy Class,Economy Plus Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,Ease of Online Booking,Check-in Service,Online Boarding,Gate Location,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Probability,Prediction
0,1,1,0,1,0,0,56,0,0,2,2,4,3,2,4,4,4,4,5,4,1,4,1,0.482130,0
1,1,1,0,1,0,0,2926,0,0,5,3,2,4,3,3,3,3,3,1,3,3,3,3,0.581443,1
2,1,1,0,0,1,0,109,3,1,2,2,4,2,2,4,5,4,1,2,4,4,4,4,0.600769,1
3,0,1,0,1,0,0,86,0,0,2,2,2,3,2,1,3,1,3,2,1,3,1,3,0.155890,0
4,0,1,0,0,1,0,199,59,50,4,4,2,1,4,4,1,4,1,1,2,1,1,3,0.007211,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28808,0,1,1,0,1,0,950,1,0,0,1,3,1,4,4,5,2,5,5,4,1,5,5,0.001718,0
28809,1,1,1,0,1,0,1076,28,31,5,3,4,4,3,2,4,3,5,5,2,3,2,2,0.022178,0
28810,1,1,1,0,1,0,1010,0,13,5,3,4,3,5,4,2,1,2,2,3,3,2,1,0.003067,0
28811,0,1,1,0,1,0,1076,12,34,5,3,3,3,2,4,5,3,2,2,5,3,2,5,0.022382,0
28812,1,1,1,0,1,0,1010,0,4,4,2,4,5,3,2,4,2,2,5,2,2,2,4,0.012773,0

In [6]:
predictions = model.predicted_outputs()

In [7]:
predictions = predictions.drop(['Flight Distance', 'Food and Drink', 'Seat Comfort'], axis = 1)

In [8]:
predictions.head()

,Gender,Customer Type,Type of Travel,Business Class,Economy Class,Economy Plus Class,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,Ease of Online Booking,Check-in Service,Online Boarding,Gate Location,On-board Service,Leg Room Service,Cleanliness,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Probability,Prediction
0,1,1,0,1,0,0,0,0,2,2,4,3,2,4,4,4,4,1,4,1,0.482130,0
1,1,1,0,1,0,0,0,0,5,3,2,4,3,3,3,3,3,3,3,3,0.581443,1
2,1,1,0,0,1,0,3,1,2,2,4,2,2,4,4,1,4,4,4,4,0.600769,1
3,0,1,0,1,0,0,0,0,2,2,2,3,2,1,1,3,1,3,1,3,0.155890,0
4,0,1,0,0,1,0,59,50,4,4,2,1,4,4,4,1,2,1,1,3,0.007211,0

In [9]:
predictions.shape[1]

22

In [10]:
import pymysql

In [11]:
conn = pymysql.connect(database = 'flight_satisfaction',user= 'root',password = 'patimine123')

In [12]:
cursor= conn.cursor()

In [13]:
cursor.execute('SELECT * FROM passenger_satisfaction;')

0

In [14]:
insert_query = 'INSERT INTO passenger_satisfaction VALUES'

In [15]:
for i in range(predictions.shape[0]):
    insert_query += '('
    for j in range(predictions.shape[1]):
        insert_query += str(predictions[predictions.columns.values[j]][i]) + ', '
    insert_query  = insert_query[:-2] + '), '

In [16]:
insert_query[:130]

'INSERT INTO passenger_satisfaction VALUES(1, 1, 0, 1, 0, 0, 0, 0, 2, 2, 4, 3, 2, 4, 4, 4, 4, 1, 4, 1, 0.4821300304741825, 0), (1, '

In [17]:
insert_query = insert_query[:-3] + ');'

In [18]:
cursor.execute(insert_query)

28813

In [19]:
conn.commit()

In [39]:
conn.close()